<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ListeningMapper">
    <resultMap id="listeningMap" type="Listening">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="audio_path" property="audioPath"></result>
        <result column="create_time" property="createTime"></result>

        <!--配置集合信息
            property: 集合名称
            ofType: 当前集合中的数据类型
        -->
        <collection property="questions" ofType="ListeningQuestion">
            <id property="id" column="qid"></id>
            <result property="listeningId" column="listening_id"></result>
            <result property="content" column="content"></result>
            <result property="answer" column="answer"></result>
        </collection>
        <collection property="records" ofType="QuestionRecord">
            <id property="id" column="rid"></id>
            <result property="textId" column="rreading_id"></result>
            <result property="uid" column="uid"></result>
            <result property="record" column="record"></result>
            <result property="answer" column="ranswer"></result>
            <result property="isCorrect" column="is_correct"></result>
            <result property="createTime" column="rcreate_time"></result>
        </collection>
    </resultMap>

    <select id="getById" resultMap="listeningMap">
        select l.id,
               l.title,
               l.audio_path,
               l.create_time,
               q.id as qid,
               q.content as content,
--                q.answer,
               q.listening_id
        from listening l
                 left join listening_question q
                           on l.id = q.listening_id
        where l.id = #{id}
        order by qid
    </select>

    <select id="getAllById" resultMap="listeningMap">
        select l.id,
               l.title,
               l.audio_path,
               l.create_time,
               q.id as qid,
               q.content as content,
               q.answer,
               q.listening_id,
               u.id as rid,
               u.listening_id as rlistening_id,
               u.record,
               u.answer as ranswer,
               u.is_correct,
               u.create_time as rcreate_time
        from listening l
                 left join listening_question q
                           on l.id = q.listening_id
                 left join user_listening_record u
                           on l.id = u.listening_id
        where l.id = #{id}
        order by qid,rid
    </select>

    <select id="getAnswerById">
        select q.answer
        from listening l
             left join listening_question q
                       on l.id = q.listening_id
        where l.id = #{id}
        order by q.id
    </select>

    <insert id="submitAnswer">
        insert into user_listening_record
        (listening_id,uid,record,answer,is_correct,create_time)
        values
        <foreach item="item" index="index" collection="questionRecordList" separator=",">
            (#{item.textId},#{item.uid},#{item.record},#{item.answer},#{item.isCorrect},curdate())
        </foreach>
    </insert>

    <insert id="addListening" parameterType="listening" useGeneratedKeys="true" keyProperty="id">
        insert into listening
        (title,audio_path,create_time)
        values(#{title},#{audioPath},curdate())
    </insert>
    <insert id="addListeningQuestion">
        insert into listening_question
        (listening_id,content,answer)
        values
        <foreach item="item" index="index" collection="listeningQuestionList" separator=",">
            (#{item.listeningId},#{item.content},#{item.answer})
        </foreach>
    </insert>

    <insert id="editListening" parameterType="Listening">
        insert into listening
            (id,title,audio_path,create_time)
        values(#{id},#{title},#{audioPath},#{createTime})
    </insert>

    <delete id="delete">
        delete l,q
        from listening l
        left join listening_question q on l.id = q.listening_id
        where l.id = #{id}
    </delete>
</mapper>