<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
    <select id="getReadingRecord">
        select r.id,r.title,r.create_time as createTime from reading r
        left join user_reading_record u
        on r.id = u.reading_id
        where u.uid = #{id}
        group by r.id
    </select>

    <select id="getListeningRecord">
        select l.id,l.title,l.create_time as createTime from listening l
        left join user_listening_record u
        on l.id = u.listening_id
        where u.uid = #{id}
        group by l.id
    </select>
</mapper>